body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(255, 255, 255);
 }
 /* div {
    height: 200px;
    width: 200px;
    background-color: pink;
    animation-name: bounce;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
} */
/* #bounce2 {
    animation-delay: 1.5s;
} */
 /* @keyframes bounce {
    0% {
        transform: translate(0,0);
    }
    25%{
        transform: translate(50vw, 100vh);
    }
    50% {
        transform: translate(100vw, 0);
    }
    75% {
        transform: translate(50vw, 100vh);
    }
    100% {
        transform: translate(0,0);
    }
 } */
.background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}
.background:first-child {
    z-index: 2;
}
.background:nth-child(2) {
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 1;
}
.animation1 {
    height: 25vh;
    width: 25vw;
    animation-name: anime1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    z-index: 1;
}
 @keyframes anime1 {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(45%);
        rotate: 365deg;
    }
    50% {
        transform: scale(200%);
        rotate: 360deg;
    }
    50% {
        transform: scale(45%);
    }
    100% {
        transform: scale(0%);
    }
 }
.animation2 {
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 0;
    animation-name: anime2;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes anime2 {
    0% {
        transform: translateY(-4%);
    }
    50% {
        transform: translateY(-10%);
    }
    75% {
        transform: translateY(-7%);
    }
    100% {
        transform: translateY(-4%);
    }
    
}

